<!DOCTYPE html> 
<html lang="en"> 
<head> 
    <meta charset="UTF-8" /> 
    <meta name="viewport" content="width=device-width, initial-scale=1.0" /> 
    <meta http-equiv="X-UA-Compatible" content="ie=edge" /> 
    <!-- This line blocks cross site scripting --> 
    <meta http-equiv="Content-Security-Policy" content="script-src 'self'; worker-src 'self';">

    <title>THE Game Review DB</title> 

    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}" />
    <link rel="manifest" href="/manifest.json" />
    <link rel="icon" type="image/x-icon" href="{{ url_for('static', filename='images/favicon.png') }}"> 
</head> 
 
<body> 
 
    <h1 class="banner">THE Game Review Database</h1> 
 
    <!-- Navigation menu --> 
    <nav> 
        <a href="/">Home</a> 
        {% if not session['username'] %} 
            <a href="/login">Login</a> 
            <a href="/register">Register</a> 
        {% else %} 
            <a href="/logout">Logout</a> 
            <a href="postreview">Post a review</a>
        {% endif %} 
        <a href="/gamelist">List of games</a>
    </nav> 
 
    <!-- Page content --> 
    <main> 
        {% block content %} 
 
        {% endblock %} 
    </main> 
 
    <!-- Service worker --> 
    <script src="{{ url_for('static', filename='js/app.js') }}"></script>
    <script src="{{ url_for('static', filename='js/reviews.js') }}"></script> 
    <script>
        if ('serviceWorker' in navigator) {
            window.addEventListener('load', () => {
                navigator.serviceWorker.register("/static/js/app.js")
                .then(reg => console.log("Service worker registered!", reg))
                .catch(err => console.log("Service worker registration failed:", err));
            });
        }
    </script>
</body> 
</html>